work{ background-color: lighten($brand-secondary,25%);
    
}
.gallery{ background-color: $brand-secondary;
          height: 600px;
          width: 100%;
          margin: 16px 0 16px 0;
}
.cstud{
    height:350px;
    width: 100%;
    background-color: $brand-secondary;
    margin: 16px 0 16px 0;
}